<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="cyxPeoPleBean" class="com.server.bean.PeopleBean">
		<property name="name" value="CYX"></property>
		<property name="phone" value="15955552159"></property>
		<property name="id" value="325541488412589362"></property>
	</bean>

</beans>